html, body {
  margin: 0;
  padding: 0;
  height: 100%; width:100%;
}
canvas {
  display: block;
}
#start{
    z-index:10;
    position:absolute; top:0;
    background:white;
    color:#fff; font-weight:bolder;
    height:100%;
    width:100%;
}
#wait1{
    z-index:8;
    position:absolute; top:0;
    background:white;
    color:#000; font-weight:bolder;
    height:100%;
    width:100%;
}
#wait{
	background-color:red;
	color:#fff;
	animation: flick ease 2s infinite;
}
@keyframes flick{
	0%{ background-color:#fff; }
	50%{ transform: scale(1.2,1.2); }
	100%{ background-color:red; }
}